<div>
  <form [formGroup]="movieSelectForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <input matInput placeholder="Movie Title" formControlName="movieTitle">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="movieType">
          <mat-option *ngFor="let type of types" [value]="type.toLowerCase()" >
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <mat-form-field>
      <mat-label>Year</mat-label>
      <mat-select formControlName="year">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p>
      <button type="submit" mat-button>Search</button>
    </p>
  </form>
</div>

