<div class="row">
  <mat-card class="col-sm-4">
    <app-movie-selector (moviesRequestEvent)="onMovieList($event)"></app-movie-selector>
    <app-movie-list></app-movie-list>
  </mat-card>
  <mat-card class="col-sm-8">
    <div class="row">
      <div class="col-12">
        <div *ngFor="let movie of movies" class="col-sm-3" style="float: left">
          <mat-card class="movie-list-card">
            <mat-card-title class="movie-list-title">{{movie.Title}}</mat-card-title>
            <img (click)="addMovieToList(movie)" mat-card-sm-image src="{{movie.Poster}}">
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>

